  <header class="main-header">
    <div class="container">
      <div class="logo">
        <i class="fas fa-airbnb logo-icon"></i>
        <span class="logo-text">airbnb</span>
      </div>
      <nav class="main-nav">
        <a href="#" class="nav-link">Become a Host</a>
        <a href="#" class="nav-link">Help</a>
        <a href="#" class="nav-link">Sign Up</a>
        <a href="#" class="nav-link login-btn">Log In</a>
      </nav>
    </div>
  </header>